Repository mopidy/mopidy, pull requests merged in 2018-10, with the labels that each got.

#1701 Add Yandex.Disk backend
  docs/ext/backends.rst
Labels: A-docs, S-waiting-on-author

#1695 Better next and previous track tests
  tests/core/test_playback.py
Labels: A-core, C-enhancement

#1714 http: Add config option to disable CSRF protection (Fixes: #1713)
  docs/changelog.rst
  docs/ext/http.rst
  mopidy/http/__init__.py
  mopidy/http/ext.conf
  mopidy/http/handlers.py
  tests/http/test_handlers.py
  tests/http/test_server.py
Labels: A-http, C-enhancement

#1716 http: use current Tornado IOLoop when stopping. (Fixes #1715).
  docs/changelog.rst
  mopidy/http/actor.py
Labels: A-http
