Repository mopidy/mopidy, pull requests merged in 2019-06, with the labels that each got.

#1768 Core API: Remove deprecated properties
  docs/api/core.rst
  docs/changelog.rst
  mopidy/core/actor.py
  mopidy/core/playback.py
  mopidy/core/playlists.py
  mopidy/core/tracklist.py
  mopidy/internal/deprecation.py
  setup.cfg
  tests/core/test_actor.py
  tests/core/test_playback.py
  tests/core/test_tracklist.py
  tests/local/test_playback.py
  tests/local/test_tracklist.py
  tests/mpd/protocol/test_current_playlist.py
  tests/mpd/protocol/test_music_db.py
  tests/mpd/protocol/test_playback.py
  tests/mpd/protocol/test_regression.py
  tests/mpd/protocol/test_stored_playlists.py
  tests/mpd/test_status.py
Labels: A-core

#1769 Core API: Remove deprecated methods
  docs/api/core.rst
  docs/changelog.rst
  mopidy/core/library.py
  mopidy/core/playback.py
  mopidy/core/playlists.py
  mopidy/internal/deprecation.py
  tests/core/test_library.py
  tests/core/test_playlists.py
  tests/internal/test_jsonrpc.py
  tests/m3u/test_playlists.py
Labels: A-core

#1772 Core API: Remove deprecated args
  docs/changelog.rst
  mopidy/core/library.py
  mopidy/core/tracklist.py
  mopidy/internal/deprecation.py
  mopidy/mpd/protocol/current_playlist.py
  mopidy/mpd/protocol/music_db.py
  tests/core/test_library.py
  tests/core/test_tracklist.py
  tests/internal/test_jsonrpc.py
  tests/local/test_playback.py
  tests/local/test_tracklist.py
  tests/mpd/protocol/test_current_playlist.py
  tests/mpd/protocol/test_music_db.py
Labels: A-core

#1774 Remove deprecated model APIs
  docs/changelog.rst
  mopidy/backend.py
  mopidy/internal/deprecation.py
  mopidy/local/__init__.py
  mopidy/models/__init__.py
  mopidy/models/immutable.py
  mopidy/mpd/translator.py
  tests/audio/test_tags.py
  tests/backend/test_backend.py
  tests/local/test_library.py
  tests/models/test_models.py
  tests/mpd/test_translator.py
Labels: A-core

#1771 Remove double-quotes around PLS File# entries
  mopidy/internal/playlists.py
  tests/internal/test_playlists.py
Labels: A-stream, C-bug

#1765 Close MPD connection following an exception in handler.
  docs/changelog.rst
  mopidy/internal/network.py
  tests/internal/network/test_lineprotocol.py
Labels: A-mpd, C-bug
