Repository mopidy/mopidy, pull requests merged in 2019-12, with the labels that each got.

#1853 audio: Fix logging of GStreamer warning/error
  mopidy/audio/actor.py
Labels: A-audio

#1854 Promote APIs from "pending deprecation" to "deprecated"
  docs/changelog.rst
  mopidy/core/playback.py
  mopidy/core/tracklist.py
  setup.cfg
Labels: A-core

#1857 internal: Move find_mtimes() to Mopidy-Local
  docs/changelog.rst
  mopidy/exceptions.py
  mopidy/internal/mtimes.py
  mopidy/internal/path.py
  tests/audio/test_scan.py
  tests/internal/test_mtimes.py
  tests/test_exceptions.py
Labels: A-local

#1863 docs: changelog tweaks
  docs/changelog.rst
Labels: A-docs
