Repository mopidy/mopidy, pull requests merged in 2021-07, with the labels that each got.

#1993 Iterate over copy of websocket clients
  mopidy/http/handlers.py
Labels: A-http, C-bug, needs changelog entry

#1990 Fix startup crash when loading invalid extensions
  mopidy/ext.py
Labels: C-enhancement, needs changelog entry

#1997 Improve CSRF protection Content-Type check
  mopidy/http/handlers.py
Labels: A-http, C-bug, needs changelog entry

#1964 Resolve issue with backend lists preparation
  mopidy/core/actor.py
  tests/core/test_actor.py
Labels: A-core
