Repository mopidy/mopidy, pull requests merged in 2022-11, with the labels that each got.

#2063 Update library.py suffix => suffix.lower()
  mopidy/file/library.py
Labels: C-bug, A-file

#2054 Improve handling of "allowed_origins" HTTP config
  mopidy/http/__init__.py
  mopidy/http/handlers.py
  tests/http/test_handlers.py
  tests/http/test_server.py
Labels: A-http

#2064 backend: Fix mypy return statement error
  mopidy/backend.py
Labels: typing
