Repository mopidy/mopidy, pull requests merged in 2022-01, with the labels that each got.

#2006 Fix/seek when stopped
  mopidy/core/playback.py
  tests/core/test_playback.py
  tests/dummy_audio.py
Labels: A-core

#2041 fix inline config comments broken in Mopidy 3 #1868
  mopidy/config/__init__.py
  tests/config/test_config.py
Labels: A-config

#2029 Fix missing CORS headers on RPC response.
  docs/changelog.rst
  mopidy/http/handlers.py
  tests/http/test_handlers.py
  tests/http/test_server.py
Labels: A-http

#2010 Add new config types, improve existing types
  docs/changelog.rst
  mopidy/config/__init__.py
  mopidy/config/types.py
  tests/config/test_types.py
Labels: C-enhancement, A-config
